body {
  background-color: #f5f5f5;
}

#main {
  margin: 5vh 5vw;
  display: flex;
  flex-direction: column;
}

.addNew {
  width: min(25vw, 400px);
}

.addTodo {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  margin-top: 2vh;
  padding: 2vh 4vw;
  width: min(60vw, 600px);
}

.addTodo * {
  margin-top: 2vh;
}

.addSelect {
  background-color: white;
  height: 1.4375em;
}

.addTodo input {
  padding: 1vh;
  padding-left: 1.5vw;
  background-color: white;
}

.select {
  background-color: white !important;
}

.todoButtons {
  display: flex;
  justify-content: flex-end;
}

.butCancel {
  margin-right: 20px !important;
  background-color: rgba(140, 139, 139, 0.856) !important;
}

.item {
  background-color: rgb(230, 230, 230);
  margin-top: 3vh;
  width: min(65vw, 640px);
  display: flex;
  flex-direction: row;
  /* height: min(200px, content); */
}

.itemColor {
  width: 16px;
}

.item-not-started {
  background-color: #ff4b4b;
}

.item-in-progress {
  background-color: #ffc55a;
}

.item-done {
  background-color: #59b059;
}

.itemInfo {
  margin-left: 10px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.itemInfo > div {
  margin-bottom: 5px;
}

@media only screen and (max-width: 639px) {
  .addTodo {
    width: 80vw;
    margin-right: 2vw;
  }

  .addNew {
    width: 60vw;
    margin-right: 2vw;
  }
}

@media only screen and (max-width: 450px) {
  .colorInfo {
    flex-direction: column;
    justify-content: space-between;
  }
}
